*{
    justify-content: center;
    text-align: center;
}
body {
    margin: 0;
   
    text-align: center;
    background-color: blue;
}

.container {
    display: flex;
    background: red;
    justify-content: space-around;
    max-width: 70%;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 4px;
}
h3{
    font-size: 45px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
span{
    border: 1px solid green;
    padding: 3px;
    
    
}